<div class="about-section">
  <div class="left-section">
    <div class="left-section-content">
      <h2 aria-selected="false">
        I'm a
        <span class="web-developer gradient-text-primary">web developer</span>
        from Chennai <span class="heart">&#9829;</span> committed to make you
        your
        <span
          class="modern-website gradient-text-background-primary gradient-text-primary"
          >modern website</span
        >
      </h2>
    </div>
  </div>
  <div class="right-section"></div>
</div>
