.about-section {
  background-color: $color-primary-background;
  height: 90vh;
}
.left-section-content {
  color: $color-grey-dark;
}
.gradient-text-primary,
.web-developer {
  background: $color-linear-gradient;
  color: transparent;
  background-clip: text;
}
.heart {
  color: $color-red;
}
//not interested in this

// .gradient-text-background-primary,
// .modern-website {
//   background: $color-linear-gradient;
//   color: $color-grey-light;
// }
