// COLORS
$color-grey-light: #f1f3f5;
$color-grey-dark: #343a40;
$color-grey-medium: #495057;
$color-disabled: #868e96;
$color-reddit-orange: #ff4500;
$color-red: #ff0000;

$color-primary: #38d9a9;
$color-secondary: #0c8599;

$color-primary-linear-gradient: linear-gradient(
  to right,
  $color-primary,
  $color-secondary
);
$default-font-size: 0.9rem;
