<div class="skills-section">
  <ul class="skills-list">
    <li class="skills">
      <img src="./assets/angular.png" alt="Angular" class="skill-logo" />
    </li>
    <li class="skills">
      <img
        src="./assets/JavaScript-logo.png"
        alt="Javascript"
        class="skill-logo"
      />
    </li>
    <li class="skills">
      <img src="./assets/firebase-logo.png" alt="Firebase" class="skill-logo" />
    </li>
    <li class="skills">
      <img
        src="./assets/supabase-logo-icon.png"
        alt="Supabase"
        class="skill-logo"
      />
    </li>
  </ul>
</div>
