$color-primary-background: #ffd43b;

$color-primary: #12b886;
$color-secondary: #7950f2;
$color-linear-gradient: linear-gradient(
  to right,
  $color-primary,
  $color-secondary
);
$color-red: #e03131;

$color-grey-dark: #343a40;
$color-grey-light: #e9ecef;
