<div class="nav">
  <div class="nav-icon">
    <span class="icon"></span>
  </div>
  <div class="menu-list-div">
    <ul class="menu-list">
      <!-- <li class="list-items standard-bold">About Me</li> -->
      <li class="list-items standard-bold">
        <a href="#" class="list-items-link">About</a>
      </li>
      <li class="list-items standard-bold">
        <a href="#" class="list-items-link">My projects</a>
      </li>
      <li class="list-items standard-bold">
        <a href="#" class="list-items-link">Contact me</a>
      </li>
    </ul>
  </div>
</div>
