.nav {
  width: 100%;
  max-height: 15vh;
  display: flex;
  padding: 2rem 2.5rem;
  position: relative;
  align-items: center;
  box-sizing: border-box;
}
.menu-list {
  list-style: none;
}
